.play-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
  gap: 2.5em;
  max-width: 650px;
  margin-inline: auto;
  position: relative;
}

.play-screen .chip .outer-circle {
  cursor: default;
}

.play-screen .play-title {
  color: var(--white);
  text-transform: uppercase;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  gap: 5em;
  order: 2;
}

.play-screen .play-chips-container {
  order: 1;
}

.play-chips-container {
  display: flex;
  gap: 3em;
  align-items: center;
  justify-content: center;
}

.play-screen .placeholder {
  border-radius: 100px;
  width: 120px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.6);
}

.play-screen .results-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.play-screen .results-container {
  position: absolute;
  left: 25%;
  width: 50%;
  animation: fadeInUp 1500ms 2500ms forwards;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0;
  top: 130%;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    top: 120%;
  }
}

.play-screen .house-selection-chip {
  animation: fadeIn 1500ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.play-screen .user-selection-chip {
  opacity: 0;
  position: relative;
  left: 30px;
  animation: fadeInLeft 1500ms 500ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.play-screen .house-selection-chip-wrapper {
  opacity: 0;
  position: relative;
  right: 30px;
  animation: fadeInRight 1500ms 500ms cubic-bezier(0.165, 0.84, 0.44, 1)
    forwards;
}

@keyframes fadeInLeft {
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes fadeInRight {
  to {
    right: 0;
    opacity: 1;
  }
}

.results-wrapper p {
  color: var(--white);
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.results-wrapper button {
  border: none;
  outline: none;
  background-color: var(--white);
  padding: 1em 2em;
  width: 12rem;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 0.8rem;
  cursor: pointer;
  letter-spacing: 2.5px;
  color: hsl(214, 47%, 23%);
  font-weight: 500;
}

.results-wrapper button:hover {
  color: var(--clr-rock-1);
  transition: all 300ms ease-in-out;
}

.play-screen .indicator {
  position: relative;
  width: 200px;
  height: 200px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1050px) {
  .play-screen .indicator {
    width: 275px;
    height: 275px;
  }
}

@media (max-width: 825px) {
  .play-screen .indicator {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 750px) {
  .play-screen .indicator {
    width: 225px;
    height: 225px;
  }
}

@media (max-width: 675px) {
  .play-screen .indicator {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 480px) {
  .play-screen .indicator {
    width: 115px;
    height: 115px;
  }
}

.play-screen .indicator::before {
  --box-shadow-width: 40px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  animation: buttonWin 1.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

/* .indicator-active {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: all 0.7s ease-in; 
} */

@media (max-width: 480px) {
  .play-screen .indicator::before {
    --box-shadow-width: 20px;
  }
}

@keyframes buttonWin {
  33% {
    box-shadow: 0 6px 0 var(--box-shadow-width) rgba(255, 255, 255, 0.025);
  }
  66% {
    box-shadow: 0 6px 0 var(--box-shadow-width) rgba(255, 255, 255, 0.025),
      0 6px 0 calc(var(--box-shadow-width) * 2 + 5px) rgba(255, 255, 255, 0.025);
  }
  100% {
    box-shadow: 0 6px 0 var(--box-shadow-width) rgba(255, 255, 255, 0.025),
      0 6px 0 calc(var(--box-shadow-width) * 2 + 5px) rgba(255, 255, 255, 0.025),
      0 6px 0 calc(var(--box-shadow-width) * 3 + 25px)
        rgba(255, 255, 255, 0.025);
  }
}

@media screen and (min-width: 768px) {
  .play-screen .results-container {
    position: relative;
    top: 0;
    left: 0;
  }

  .play-screen {
    align-items: stretch;
    margin-top: 5em;
  }

  .play-screen .placeholder {
    width: 150px;
    height: 150px;
  }

  .results-wrapper p {
    font-size: 2rem;
  }

  .play-screen .user-selection-chip {
    left: 100px;
  }

  .play-screen .house-selection-chip-wrapper {
    right: 100px;
  }

  .play-screen .play-title {
    order: 1;
  }

  .play-screen .play-chips-container {
    order: 2;
  }
}
