.modal {
  background-color: var(--white);
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 2em;
}

.modal .modal-title {
  text-transform: uppercase;
  color: var(--dark-text-color);
  font-size: 1.5rem;
  text-align: center;
  margin-block: 3em;
}

.modal .modal-btn {
  position: fixed;
  bottom: 3em;
  font-size: 1.5rem;
  color: var(--light-gray);
  cursor: pointer;
}

.modal .modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.modal .row-one {
  display: flex;
  align-items: center;
  gap: 2em;
}

.modal .chip .outer-circle.scissors,
.modal .chip .outer-circle.paper,
.modal .chip .outer-circle.rock {
  background: var(--light-gray);
}

.arrow-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal .arrow-left,
.modal .to-rock,
.modal .to-scissors {
  color: var(--light-gray);
}

.arrow-left span:first-of-type,
.modal .to-rock span:first-of-type,
.modal .to-scissors span:first-of-type {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.arrow-left span:last-of-type {
  font-size: 20px;
}

.modal .to-rock {
  position: absolute;
  transform: translate(-100px, 150px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
}

.modal .to-rock span:last-of-type {
  transform: rotate(45deg);
}

.modal .to-scissors {
  position: absolute;
  transform: translate(100px, 150px);
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.2em;
}

.modal .to-scissors span:last-of-type {
  transform: rotate(135deg);
}

@media screen and (min-width: 768px) {
  .modal {
    min-height: 400px;
    top: 22%;
    left: 25%;
    max-width: 400px;
    border-radius: 6px;
  }

  .modal-container {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    height: 100vh;
    z-index: 2;
    right: 0;
    top: 0;
    width: 100%;
  }

  .modal .modal-btn {
    position: absolute;
    top: 30px;
    right: 30px;
  }

  .modal .modal-title {
    text-align: left;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
  }
}

@media screen and (min-width: 1024px) {
  .modal {
    top: 22%;
    left: 35%;
  }
}
